html, body {
	background-color: #201b3a;
}

img {
	max-width: 100%;
}

.navbar-nav {
	padding: 7px 20px;
}

.navbar-right {
	padding: 7px 40px 7px 0;
}

.navbar-header img {
	height: 64px;
	padding: 0 0 0 40px;
}

.navbar-inverse {
	background: rgba(8,3,37,.4);
	border: none;
}

.navbar-toggle {
	margin: 15px 20px;
	border: none;
}

#slider {
	background-image: url('../img/banner2.jpg');
	background-size: cover;
	height: 500px;
}

#slider h1 {
	margin: 0;
}

#sponsor {

}

#quick-info {
	background-color: #080325;
}

@media (max-width: 1100px) {
	.navbar-header {
		float: none;
	}

	.navbar-left,.navbar-right {
		float: none !important;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		background-color: rgba(8,3,37,.94);
	}

	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}

	.navbar-collapse.collapse {
		display: none!important;
	}

	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}

	.navbar-nav>li {
		float: none;
	}

	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.collapse.in{
		display: block !important;
	}
}

@media (max-width: 1100px) {
	.container {
		width: 100%;
	}
}

@media (min-width: 1500px) {
	.container {
		width: 1400px;
	}
}