html, body {
	background-color: #201b3a;
}

.navbar-inverse {
	background: rgba(8,3,37,.4);
	border: none;
}

#sponsor {

}

#quick-info {
	background-color: #080325;
}

@media (min-width: 995px) {
	.navbar-collapse.collapse {
		display: block !important;
	}

	.navbar-toggle {
		display: none;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1500px) {
	.container {
		width: 1400px;
	}
}